@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Login</h1>
        <label>Nome</label>
        <input name="nome" placeholder="Digite seu nome..."/>
        <label>senha</label>
        <input name="senha" type="password" placeholder="Digite a senha..."/>
        <button style="margin-top: 15px;">Enviar</button>
    </section>
</main>